BOT_TOKEN=8767715495:AAGi4JBdoKlZ48qad7oTMUSKOAZyQWnYmoE
BOT_USERNAME=mgl2026bot
GROUP_ID=-8476226070
ADMIN_IDS=1003744595373
DATABASE_URL=postgresql://postgres:kxzQyhDCJtnFgJgVksZjbQvXHEGnZMZa@postgres.railway.internal:5432/railway
RAILWAY_PUBLIC_DOMAIN=postgres-production-e38a.up.railway.app
LOG_LEVEL=INFO